.dashboard-container {
  background-color: #1e292d;
  height: 100vh;
  width: 100%;

  td {
    background-color: #1e292d;
    text-align: center;
  }

  table,
  td,
  th {
    padding: 1rem;
    border-bottom: 5px solid #141f23;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #192327;
    color: #979a9b;
  }

  img{
    margin: 4px;
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}